<div class="container-fluid">
  <h1>Login</h1>
  <form>
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input type="text" class="form-control" id="usernameInput" aria-describedby="usernameInput" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
      <small id="forgotPassword" class="form-text text-muted">Forgot Password?</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <small id="register" class="form-text text-muted">Don't have an account?
      <a routerLink="/register">Register New User</a></small>
  </form>
</div>
