<div class="container-fluid">
  <h1>Admin Console</h1>

  <div *ngIf="users && users.length > 0; else noResults" class="mt-4 mb-4">
    <h3>Users Registered ({{users.length}})</h3>
    <table class="table table-striped">
      <thead>
      <tr class="text-center">
        <th>Username</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tr class="text-center">
        <td>
          <input class="form-control-sm" [(ngModel)]="newUser.username"/>
        </td>
        <td>
          <input class="form-control-sm" type="password" [(ngModel)]="newUser.password"/>
        </td>
        <td>
          <input class="form-control-sm" [(ngModel)]="newUser.firstName"/>
        </td>
        <td>
          <input class="form-control-sm" [(ngModel)]="newUser.lastName"/>
        </td>
        <td>
          <input class="form-control-sm" [(ngModel)]="newUser.email"/>
        </td>
        <td>
          <select [(ngModel)]="newUser.role" class="form-control-sm">
            <option *ngFor="let role of userRoles" [ngValue]="role">{{role}}</option>
          </select>
        </td>
        <td>
          <button class="btn btn-success" (click)="addUser(newUser)">Create User</button>
        </td>
      </tr>
      <tr *ngFor="let user of users" class="text-center">
        <td>
          <input class="form-control-sm" [(ngModel)]="user.username"/>
        </td>
        <td>
          <input class="form-control-sm" [(ngModel)]="user.password"/>
        </td>
        <td>
          <input class="form-control-sm" [(ngModel)]="user.firstName"/>
        </td>
        <td>
          <input class="form-control-sm" [(ngModel)]="user.lastName"/>
        </td>
        <td>
          <input class="form-control-sm" [(ngModel)]="user.email"/>
        </td>
        <td>
          <select [(ngModel)]="user.role" class="form-control-sm">
            <option *ngFor="let role of userRoles" [ngValue]="role">{{role}}</option>
          </select>
        </td>
        <td>
          <button class="btn btn-success" (click)="updateUser(user)">Edit</button>
          <button class="btn btn-danger ml-2" (click)="deleteUser(user._id, user.username)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  <ng-template #noResults>
    No users exist!
  </ng-template>
</div>
