<div class="container-fluid">
  <h1>Posts By {{username}}</h1>

  <p>Total Posts Created: {{posts.length}}</p>

  <ul class="list-group">
    <li class="list-group-item active">Posts</li>
    <li *ngFor="let post of posts" class="list-group-item wbdv">
      <a routerLink="/viewPost/{{post._id}}">
        {{post.postTitle}}</a>
      <span class="pull-right" *ngIf="post.published">Published: {{post.datePublished | date: 'short'}}</span>
      <span class="pull-right" *ngIf="!post.published">Draft Saved: {{post.datePublished | date: 'short'}}</span>
    </li>
  </ul>

</div>
