<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="email"
         placeholder="email"
         class="form-control"/>
  <input [(ngModel)]="role" class="form-control" readonly="{{role==='admin'}}"/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>
  <button (click)="delete()"
          class="btn btn-block btn-danger">
    Delete Account
  </button>

  <a (click)="logout()">Logout</a>
  <a routerLink="/home" class="ml-2">Home</a>
  <a routerLink="/admin" class="ml-2" [hidden]="!this.isAdmin">Admin</a>
  <a routerLink="/createPost" class="ml-2" [hidden]="checkRole()">Create Post</a>
  <a routerLink="/viewPosts/{{username}}" class="ml-2" [hidden]="checkRole()">View My Posts</a>
  <a routerLink="/shares/{{username}}" class="ml-2" [hidden]="canSharePost()">View Shared Posts</a>

</div>
