<div class="container-fluid text-center">
  <h1>Welcome to Lexi's CS5610 Home Page!</h1>
  <p>Below you will find all of the work I did for CS 5610 (Web Development) at Northeastern University. </p>

  <img src="assets/picture.jpg" class="center-block mb-4"/>

  <h3>Project</h3>
  <p>
    To proceed directly to my course project, which creates a blogging website, please click
    <a routerLink="/home">here</a>. In this project, you can create an account and find or write your own posts. Watch the video to see
    a demo of the project.
  </p>


  <div class="row mb-4">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item active">
          Github Repositories
        </li>
        <li class="list-group-item">
          <a href="https://github.com/lkacoy/webdev-summer-2018-java-server-akacoyannakis">Java Server</a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/lkacoy/webdev-summer2018-client-react-akacoyannakis">React Client</a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/lkacoy/cs5610-react-native">React Native</a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/lkacoy/webdev-summer2018-angular">Angular Client</a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/lkacoy/webdev-summer2018-node">Node Server</a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/lkacoy/webdev-cs5610-project-angular">Project - Angular Client</a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/lkacoy/webdev-cs5610-project">Project - Node Server</a>
        </li>
      </ul>
    </div>

    <div class="col">
      <ul class="list-group">
        <li class="list-group-item active">
          Heroku Instances
        </li>
        <li class="list-group-item">
          <a href="https://web2018-lexikacoyannakis.herokuapp.com/">Java Server</a>
        </li>
        <li class="list-group-item">
          <a href="https://web2018-react-lexikacoyannakis.herokuapp.com/">React Client</a>
        </li>
        <li class="list-group-item">
          <a href="https://angular-lexikacoyannakis.herokuapp.com/">Angular Client</a>
        </li>
        <li class="list-group-item">
          <a href="https://node-lexikacoyannakis.herokuapp.com/">Node Server</a>
        </li>
        <li class="list-group-item">
          <a href="https://cs5610project-angular-lexi.herokuapp.com/">Project - Angular Client</a>
        </li>
        <li class="list-group-item">
          <a href="https://cs5610project-node-lexi.herokuapp.com/">Project - Node Server</a>
        </li>
      </ul>
    </div>
  </div>
</div>
