<div class="mt-4">
  <span class="label-warning">Enter your comment here. Please note your comment may be removed for moderation purposes.</span>
  <textarea class="form-control" rows="5" cols="50" [(ngModel)]="comment.comment"></textarea>
  <span class="row pull-right mt-3 mb-3">
    <button class="btn btn-danger mr-2" (click)="clearComment()"><i class="fa fa-ban"></i></button>
    <button class="btn btn-success mr-2" (click)="addComment()"><i class="fa fa-plus-circle"></i></button>
  </span>
  <app-comments-list></app-comments-list>
</div>
